[submodule "balena-yocto-scripts"]
	path = balena-yocto-scripts
	url = https://github.com/balena-os/balena-yocto-scripts.git
[submodule "layers/poky"]
	path = layers/poky
	url = https://github.com/balena-os/poky
[submodule "layers/meta-freescale"]
	path = layers/meta-freescale
	url = https://github.com/Freescale/meta-freescale.git
[submodule "layers/meta-freescale-3rdparty"]
	path = layers/meta-freescale-3rdparty
	url = https://github.com/Freescale/meta-freescale-3rdparty.git
[submodule "meta-freescale-distro"]
	path = layers/meta-freescale-distro
	url = https://github.com/Freescale/meta-freescale-distro.git
[submodule "meta-compulab"]
	path = layers/meta-compulab
	url = https://github.com/compulab-yokneam/meta-compulab.git
[submodule "meta-compulab-bsp"]
	path = layers/meta-compulab-bsp
	url =  https://github.com/compulab-yokneam/meta-compulab-bsp.git
[submodule "layers/meta-openembedded"]
	path = layers/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
[submodule "layers/meta-balena"]
	path = layers/meta-balena
	url = https://github.com/balena-os/meta-balena.git
[submodule "layers/meta-bsp-imx8mm"]
	path = layers/meta-bsp-imx8mm
	url = https://github.com/compulab-yokneam/meta-bsp-imx8mm.git
[submodule "contracts"]
	path = contracts
	url = https://github.com/balena-io/contracts.git
[submodule "meta-bsp-imx8mp"]
	path = layers/meta-bsp-imx8mp
	url = git@github.com:compulab-yokneam/meta-bsp-imx8mp.git
